<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cordova.plugin.AdaptiveIconsPlugin"
      version="1.0">
    
    <name>Cordova Adaptive Icons Plugin</name>

    <resources>
      <color name="background">#0ca569</color>
    </resources>
           
<platform name="android">
    <icon src="res/ic_launcher_LDPI.png" density="ldpi" />
    <icon src="res/ic_launcher_MDPI.png" density="mdpi" />
    <icon src="res/ic_launcher_HDPI.png" density="hdpi" />
    <icon src="res/ic_launcher_XHDPI.png" density="xhdpi" />
    <icon src="res/ic_launcher_XXHDPI.png" density="xxhdpi" />
    <icon src="res/ic_launcher_XXXHDPI.png" density="xxxhdpi" />
</platform>
           
</plugin>
