<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cordova.plugin.AdaptiveIconsPlugin"
      version="1.0">
    
    <name>Cordova Adaptive Icons Plugin</name>

    <platform name="android">
      <icon background="res/ldpi-background.png" density="ldpi" foreground="res/ldpi-foreground.png" />
      <icon background="res/mdpi-background.png" density="mdpi" foreground="res/mdpi-foreground.png" />
      <icon background="res/hdpi-background.png" density="hdpi" foreground="res/hdpi-foreground.png" />
      <icon background="res/xhdpi-background.png" density="xhdpi" foreground="res/xhdpi-foreground.png" />
      <icon background="res/xxhdpi-background.png" density="xxhdpi" foreground="res/xxhdpi-foreground.png" />
      <icon background="res/xxxhdpi-background.png" density="xxxhdpi" foreground="res/xxxhdpi-foreground.png" />
    </platform>
</plugin>
